body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #1A4341;
  margin: 0rem;
  overflow: hidden;

  font-family: 'Space Mono', monospace;
  color: white;
}
  
h1 {
  font-size: clamp(3rem, 10vw, 10rem);
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);

  background-color: rgba(255, 255, 255, 0.95);
  color: #1A4341;
  z-index: 3;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, powderblue);
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

.links {
  z-index: 3;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
  margin: .5rem;
}

a:hover {
  opacity: 80%;
}

