html {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  color: white;
  height: 100%;
}

.bgimg {
  background-color: #1A4341;
  background-image: url('img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  height: 98%;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
}

.navbar {
  justify-content: space-between;
  height: 1.5rem;
}

.navbar-item {
  justify-content: flex-end;
  gap: 16px;
}

.navbar-item > .hamburger {
  display: none;
}

.content {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 16rem;
}

.footer {
  /* background-color: #0B2429; */
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
  height: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

a:hover {
  opacity: 50%;
}

@media only screen and (max-width: 768px) {
  .navbar-item {
    flex-direction: column;
    text-align: right;
  }
  /* .navbar-item > a {
    display: none;    
  }
  .navbar-item > .hamburger {
    display: inline-block;
  } */
  .navbar {
    height: max-content;
  }
}