body, html {
  height: 100%;
  margin: 0;

  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  color: white;
}

.bgimg {
  background-image: url('img/background.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.topleft {
  position: absolute;
  top: 0;
}

.topleft p {
  margin: 15px;
}

.topright {
  position: absolute;
  top: 0;
  right: 15px;
}

.topright p {
  margin-top: 15px;
  margin-left: 15px;
  display: inline-block;
}

.topright .fa {
  display: none;
}

.left {
  position: absolute;
  bottom: 40%;
  width: 50%;
  text-align: center;
}

.left h1 {
  margin-bottom: 15px;
}

.left p {
  margin-top: 15px;
}

.left hr {
  margin: auto;
  width: 300px;
}

.bottomleft {
  position: absolute;
  bottom: 5px;
}

.bottomleft img {
  display: inline-block;
  width: 75px;
  height: 75px;
}

.bottomleft p {
  font-size: 10px;
  display: inline-block;
  inline-size: 150px;
  overflow-wrap: break-word;
}

.bottomright {
  position: absolute;
  bottom: 5px;
  right: 15px;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

a:hover {
  opacity: 50%;
}

/* @media on max width */
@media only screen and (max-width: 900px) {
  .left {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .topright p {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .topright .wide {
    display: none;
  }

  .topright .fa {
    margin: 15px;
    display: inline-block;
  }
}

@media only screen and (max-width: 400px) {
  .left hr {
    width: 75%;
  }
}
