body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #1A4341;
  margin: 0rem;
  overflow: hidden;

  font-family: 'Space Mono', monospace;
  color: white;
}
  
h1 {
  font-size: clamp(3rem, 10vw, 10rem);
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);

  background-color: rgba(255, 255, 255, 0.95);
  color: #1A4341;
}

p {
  font-size: clamp(1rem, 4vw, 5rem);
  visibility: hidden;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
  margin: .5rem;
}

a:hover {
  opacity: 50%;
}