body, html {
  height: 100%;
  margin: 0;

  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  color: white;
  box-sizing: border-box;
}

.bgimg {
  background-image: url('img/background.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.topleft {
  position: absolute;
  top: 0;
}

.topleft p {
  margin: 15px;
}

.topright {
  position: absolute;
  top: 0;
  right: 15px;
}

.topright p {
  margin: 15px;
  display: inline-block;
}

.left {
/*
  left: 25%;
  transform: translate(-50%, -50%);
*/
  position: absolute;
  top: 40%;
  width: 50%;
  text-align: center;
}

.left h1 {
  margin-bottom: 15px;
}

.left p {
  margin-top: 15px;
}

.left hr {
  margin: auto;
  width: 300px;
}

.bottomright {
  position: absolute;
  bottom: 5px;
  right: 15px;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

a:hover {
  opacity: 50%;
}

@media only screen and (max-width: 1000px) {
  .left {
    width: 75%;
  }
}

@media only screen and (max-width: 800px) {
  .left {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .left {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .left hr {
    width: 75%;
  }
}