<div class="container">
  <div class="navbar">
    <a href="#"><span>GaukeT</span></a>
  </div>

  <div class="content">
      <h1>Gauke Teijema</h1>
      <hr>
      <p>Software developer</p>
      <!-- <router-outlet></router-outlet> -->
  </div>

  <div class="footer">
    <a rel="noopener" href="https://github.com/GaukeT" target="_blank" title="GitHub">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a rel="noopener" href="https://nl.linkedin.com/in/gauketeijema" target="_blank" title="LinkedIn">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    <a rel="noopener" href="mailto:gauket.dev@gmail.com?subject=contact" target="_top" title="Mail">
      <i class="fa fa-envelope"></i>
    </a>
  </div>
</div>


