html, body { 
    height: 100%; 
    background-color: #1A4341;;
    margin: 0; 
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.container {
    height: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.navbar {
    display: flex;
    /* background-color: blue; */
    margin: 1rem;
}

.content {
    display: flex;
    /* background-color: red; */
    flex-flow: column;
    align-items: center;
    margin: 1rem;
}

.content hr {
    width: 16rem;
}

.footer {
    /* background-color: brown; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
    margin: 1rem;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
  
a:hover {
    opacity: 50%;
}